{% load static %}<!-- Header -->
<header class="top_panel top_panel_custom top_panel_custom_18 without_bg_image scheme_default light-color">
    <!-- Top panel -->
    <div class="top_panel_container sc_layouts_row sc_layouts_row_type_compact sc_layouts_row_delimiter sc_layouts_row_fixed">
        <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
            <!-- Logo -->
            <div class="sc_content sc_content_default sc_float_left sc_align_left">
                <div class="sc_content_container">
                    <div class="sc_layouts_item">
                        <a href="/" class="sc_layouts_logo sc_layouts_logo_default"> <img class="logo_image"
                                                                                          src="{% static "images/dpi_logo.png" %}"
                                                                                          alt="logo"> </a>
                    </div>
                </div>
            </div>
            <!-- /Logo -->
            <!-- Menu -->
            <div class="sc_layouts_item">
                <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_slide_line hide_on_mobile"
                     data-animation-in="fadeInUpSmall" data-animation-out="fadeOutDownSmall">
                    <ul id="menu-main-menu" class="sc_layouts_menu_nav">
                        {% for menu in header_menu %}
                            <!-- Menu item : {{ menu.title }} -->
                            <li class="menu-item current-menu-ancestor current-menu-parent {% if menu.contain_dropdown %}menu-item-has-children{% endif %}">
                                <a href="{{ menu.url }}"> <span>{{ menu.title }}</span> </a>
                                {% if menu.contain_dropdown %}
                                    {% include "_partials/sub_menu.html" with menu=menu %}
                                {% endif %}
                            </li>
                            <!-- /Menu item : {{ menu.title }} -->
                        {% endfor %}
                    </ul>
                </nav>
                <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                    <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#"> <span
                            class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu">Menu</span>
                    </a>
                </div>
            </div>
            <!-- /Menu -->
            <!-- E-mail -->
            <div class="sc_layouts_item contacts">
                <div class="sc_layouts_iconed_text">
                    <a href="mailto:{{ contact_info.email }}" class="sc_layouts_item_link sc_layouts_iconed_text_link">
                        <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-mail-empty"></span> <span
                            class="sc_layouts_item_details sc_layouts_iconed_text_details">
                            <span class="sc_layouts_item_details_line2 sc_layouts_iconed_text_line2">{{ contact_info.email }}</span>
                        </span> </a>
                </div>
            </div>
            <!-- /E-mail -->
            <!-- Contact phone -->
            <div class="sc_layouts_item contacts">
                <div class="sc_layouts_iconed_text">
                    <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-phone-2"></span> <span
                        class="sc_layouts_item_details sc_layouts_iconed_text_details">
                        <span class="sc_layouts_item_details_line2 sc_layouts_iconed_text_line2">{{ contact_info.phone }}</span>
                    </span>
                </div>
            </div>
            <!-- /Contact phone -->
            <!-- Socials -->
            <div class="sc_layouts_item">
                <div class="sc_socials sc_socials_default sc_align_default">
                    <div class="socials_wrap">
                        {% for social in socials %}
                            <span class="social_item">
                                <a href="{{ social.url }}" target="_blank" class="social_icons {{ social.color }}">
                                    <span class="trx_addons_icon-{{ social.icon }}"></span>
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /Socials -->
        </div>
    </div>
    <!-- /Top panel -->

    {% block breadcrumps %}
        <!-- Breadcrumbs -->
        {% if breadcrumps %}
            <div class="breadcrumbs_container sc_layouts_row sc_layouts_row_type_normal sc_layouts_hide_on_frontpage scheme_dark">
                <div class="sc_layouts_column sc_layouts_column_align_center sc_layouts_column_icons_position_left">
                    <div class="sc_content sc_content_default">
                        <div class="sc_content_container">
                            <div class="sc_layouts_item">
                                <div class="sc_layouts_title">
                                    <div class="sc_layouts_title_title">
                                        <h2 class="sc_layouts_title_caption">{{ title }}</h2>
                                    </div>
                                    <div class="sc_layouts_title_breadcrumbs">
                                        <div class="breadcrumbs">
                                            {% for breadcrump in breadcrumps %}
                                                <a class="breadcrumbs_item home"
                                                   href="{{ breadcrump.url }}">{{ breadcrump.text }}</a>
                                                {% if not forloop.last %}
                                                    <span class="breadcrumbs_delimiter"></span>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- /Breadcrumbs -->
    {% endblock %}
</header><!-- /Header -->