<!-- Menu mobile -->
<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
    <div class="menu_mobile_inner">
        <a class="menu_mobile_close icon-cancel"></a>
        <nav class="menu_mobile_nav_area">
            <ul id="menu_mobile-main-menu" class="">
                {% for menu in header_menu %}
                    <li class="menu-item menu-item-has-children">
                        <a href="{{ menu.url }}"> <span>{{ menu.title }}</span> </a>
                        {% if menu.contain_dropdown %}
                            {% include "_partials/sub_menu.html" with menu=menu %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <!-- Search -->
        <div class="search_wrap search_style_normal search_mobile">
            <div class="search_form_wrap">
                <form role="search" method="get" class="search_form" action="#">
                    <input type="text" class="search_field" placeholder="Axtar" value="" name="s">
                    <button type="submit" class="search_submit trx_addons_icon-search"></button>
                </form>
            </div>
        </div>
        <!-- /Search -->
        <!-- Socials -->
        <div class="socials_mobile">
                            <span class="social_item">
                                <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="trx_addons_icon-twitter"></span>
                                </a>
                            </span><span class="social_item">
                                <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="trx_addons_icon-facebook"></span>
                                </a>
                            </span><span class="social_item">
                                <a href="#" target="_blank" class="social_icons social_gplus">
                                    <span class="trx_addons_icon-gplus"></span>
                                </a>
                            </span><span class="social_item">
                                <a href="#" target="_blank" class="social_icons social_tumblr">
                                    <span class="trx_addons_icon-tumblr"></span>
                                </a>
                            </span>
        </div>
        <!-- /Socials -->
    </div>
</div><!-- /Menu mobile -->
