{% load static %}

<script type="text/javascript" src="{% static "js/jquery/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery-migrate.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/ui/core.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/ui/widget.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/ui/accordion.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/_main.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/essential-grid/js/lightbox.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/essential-grid/js/jquery.themepunch.tools.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "js/vendor/essential-grid/js/jquery.themepunch.essential.min.js" %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/revslider/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static "js/eg-projects.js" %}"></script>
<script type="text/javascript"
        src="{% static "js/vendor/revslider/revsliderextensions/revolution.extension.slideanims.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "js/vendor/revslider/revsliderextensions/revolution.extension.actions.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "js/vendor/revslider/revsliderextensions/revolution.extension.layeranimation.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "js/vendor/revslider/revsliderextensions/revolution.extension.navigation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/revslider-homepage.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/swiper/swiper.jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/magnific/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/trx_addons.js" %}"></script>
<script type="text/javascript" src="{% static "js/superfish.js" %}"></script>
<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{#<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js'></script>#}
