{% extends "base.html" %}{% load static %}

{% block title %}{{ teammember.fullname }}{% endblock %}
{% block body_class %}single scheme_default body_style_wide blog_style_excerpt sidebar_hide expand_content header_style_header-custom-18 header_position_default menu_style_top no_layout{% endblock %}

{% block header %}
    {% include "_partials/header.html" with breadcrumps=breadcrumps title=teammember.fullname %}
{% endblock %}


{% block page_wrap %}
{% if mailJson %}
    <div class="toast">
        <p>Müraciətiniz gonderildi {{ mailJson.message }}</p>
        <span onclick="this.parentElement.remove()">X</span>
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <div class="page_content_wrap scheme_default">
        <!-- Content -->
        <div class="content">
            <article class="team_member_page">
                <section class="team_member_header">
                    <div class="content_wrap">
                        <div class="team_member_featured">
                            <div class="team_member_avatar">
                                <img src="{{ teammember.image.url }}" alt="{{ teammember.fullname }}"/>
                            </div>
                        </div>
                        <div class="team_member_description">
                            <h2 class="team_member_title">{{ teammember.fullname }}</h2>
                            <h6 class="team_member_position">{{ teammember.profession }}</h6>
                            <div class="team_member_details">
                                <div class="team_member_details_email">
                                    <span class="team_member_details_label">E-mail: </span> <span
                                        class="team_member_details_value">{{ teammember.email }}</span>
                                </div>
                            </div>
                            <div class="team_member_brief_info">
                                <h5 class="team_member_brief_info_title">Brief info</h5>
                                <div class="team_member_brief_info_text">
                                    <p>{{ teammember.info }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="team_member_content">
                    <div class="empty_space height_7_4rem"></div>
                    <!-- Testimonials -->{% include "home/_testimonials.html" with background_image="copypress-custom-bg-1" %}
                    <!-- /Testimonials -->
                    <!-- Contact Form -->
                    <div class="content_wrap">
                        <div class="sc_layouts_column_icons_position_left">
                            <div class="empty_space height_7_4rem"></div>
                            <div class="sc_content sc_content_default sc_content_width_3_4">
                                <div class="sc_content_container">
                                    <div id="sc_form_4" class="sc_form sc_form_default sc_align_center">
                                        <h2 class="sc_item_title sc_form_title sc_align_center sc_item_title_style_default margin_bottom_60">{{ teammember.fullname }} ilə Əlaqə</h2>
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }} <input type="submit" value="Göndər">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Form -->
                </section>
            </article>
        </div>
        <!-- /Content -->
    </div>
{% endblock %}

{% block footer %}
    {% include "_partials/footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-migrate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/_main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/swiper/swiper.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/magnific/jquery.magnific-popup.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/trx_addons.js" %}"></script>
    <script type="text/javascript" src="{% static "js/superfish.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
    <script>
        const form = document.getElementById('mailform');
        const email_to = document.getElementById('email_to');
        email_to.setAttribute("value", "{{ teammember.email }}")
    </script>
{% endblock %}
