{% load static %}
<div class="copypress-custom-bg-2" style="background-image: url(/static/images/full_services.png)">
                    <div class="content_wrap sc_layouts_column_icons_position_left">
                        <div class="empty_space height_9_2em"></div>
                        <div class="trx_addons_columns_wrap">
                            <div class="custom_column_1 trx_addons_column-1_2 z-index_2 sc_layouts_column_icons_position_left">
                                <div class="copypress-custom-bg-7">
                                    <div class="sc_services sc_services_list custom_services_1 copypress-services-custom-block-1"
                                         data-slides-per-view="2" data-slides-min-width="200">
                                        <div class="sc_services_columns sc_item_columns sc_item_columns_2 trx_addons_columns_wrap columns_padding_bottom">{% for service in services %}<div class="trx_addons_column-1_2">
                                                    <div class="sc_services_item without_content with_icon sc_services_item_featured_top">
                                                        <a href="{{ service.url }}"
                                                           class="sc_services_item_icon {{ service.icon }}"></a>
                                                        <div class="sc_services_item_info">
                                                            <div class="sc_services_item_header">
                                                                <h6 class="sc_services_item_title">
                                                                    <a href="{{ service.url }}">{{ service.title }}</a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>{% endfor %}</div>
                                    </div>
                                </div>
                            </div><div class="custom_column_1 trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                                <div class="copypress-services-custom-block-2">
                                    <div class="empty_space height_5_2em"></div>
                                    <div class="sc_action sc_action_simple custom_action_1" data-slides-min-width="250">
                                        <div class="sc_action_content sc_item_content">
                                            <div class="sc_action_item sc_action_item_simple sc_action_item_mc">
                                                <h6 class="sc_item_subtitle sc_action_item_subtitle sc_align_center sc_item_title_style_default">
                                                    <span>{{ service_section.pretitle }}</span>
                                                </h6>
                                                <h2 class="sc_item_title sc_action_item_title sc_align_default sc_item_title_style_default">
                                                    <span>{{ service_section.title }}</span>
                                                </h2>
                                                <div class="sc_action_item_description">
                                                    <span>{{ service_section.description }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="empty_space height_2_5em"></div>
                                    <div class="sc_item_button sc_button_wrap sc_align_center">
                                        <a href="{{ service_section.button_url }}"
                                           class="sc_button sc_button_dark sc_button_size_normal sc_button_icon_left">
                                        <span class="sc_button_text">
                                            <span class="sc_button_title">{{ service_section.button_text }}</span>
                                        </span> </a>
                                    </div>
                                    <div class="empty_space height_7_3em"></div>
                                </div>
                            </div>
                        </div>
                        <div class="empty_space height_9_2em"></div>
                    </div>
                </div>