{% load static %}
<div class="{{ background_image }}">
    <div class="content_wrap sc_layouts_column_icons_position_left">
        <div class="empty_space height_5_2em"></div>
        <div class="trx_addons_columns_wrap">
            <div class="trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                <div class="empty_space height_4em"></div>
                <div class="sc_testimonials sc_testimonials_default swiper-slider-container slider_swiper slider_noresize slider_nocontrols slider_nopagination"
                     data-slides-min-width="150">
                    <h2 class="sc_item_title sc_testimonials_title sc_align_left sc_item_title_style_default">{{ testimonials_section.title }}</h2>
                    <div class="sc_testimonials_slider sc_item_slider slides swiper-wrapper">
                        {% for swiper in swipes %}
                            <div class="swiper-slide">
                                <div class="sc_testimonials_item">
                                    <div class="sc_testimonials_item_content">
                                        <p>{{ swiper.idiom }}</p>
                                    </div>
                                    <div class="sc_testimonials_item_author">
                                        <div class="sc_testimonials_item_author_avatar" style="background-image: url({{ swiper.author_image.url }})">
                                        </div>
                                        <div class="sc_testimonials_item_author_data">
                                            <h4 class="sc_testimonials_item_author_title">{{ swiper.author }}</h4>
                                            <div class="sc_testimonials_item_author_subtitle">{{ swiper.author_profession }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div><div class="trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                <div class="empty_space height_4em"></div>
                <figure>
                    <img src="{{ testimonials_section.image.url }}"
                         alt="{{ testimonials_section.title }}"/>
                </figure>
            </div>
        </div>
        <div class="empty_space height_10_5em"></div>
    </div>
</div>
