{% load static %}
<div class="scheme_dark" style="background-image: url({{ video_section.image.url }})">
                    <div class="content_wrap sc_layouts_column_icons_position_left">
                        <div id="widget_video_1" class="widget_area sc_widget_video">
                            <aside id="widget_video_1_widget" class="widget widget_video"><h5
                                    class="widget_title">{{ video_section.title }}</h5>
                                <div class="trx_addons_video_player with_cover hover_play">
                                    <div class="sc_item_header">
                                        <div class="sc_item_subtitle sc_video_subtitle sc_align_center sc_item_title_style_default">{{ video_section.pretitle }}</div>
                                        <h1 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">{{ video_section.title }}</h1>
                                        <div class="video_hover" data-video='{{ video_section.video_source }}'></div>
                                    </div>
                                    <img src="{{ video_section.image2.url }}" alt="{{ video_section.title }}">
                                    <div class="video_mask"></div>
                                    <div class="video_embed video_frame"></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>