{% extends "base.html" %}
{% load static %}
{% block title %}Haqqımızda{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static "css/font-icons/css/trx_addons_icons-embedded.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "js/vendor/swiper/swiper.min.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "js/vendor/magnific/magnific-popup.min.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/trx_addons_full.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/trx_addons.animation.css" %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static "css/font-face/Montserrat/stylesheet.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/font-face/Sofia-Pro-Light/stylesheet.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/font-face/Gilroy/stylesheet.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/font-face/PermanentMarker/stylesheet.css" %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static "css/fontello/css/fontello-embedded.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/colors.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/general.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}" type="text/css" media="all" />
{% endblock %}

{% block body_class %}page custom-background scheme_default blog_mode_page body_style_wide sidebar_hide expand_content
    remove_margins header_style_header-custom-18 header_position_default menu_style_top no_layout{% endblock %}


{% block header %}
    {% include "_partials/header.html" with breadcrumps=breadcrumps title="Bizimlə əlaqə" %}
{% endblock %}


{% block content %}
    <div class="content">
        <article class="post_item_single">
            <div class="post_content">
                <!-- Our Contacts -->
                <div class="copypress-custom-bg-2">
                    <div class="content_wrap sc_layouts_column_icons_position_left">
                        <div class="empty_space height_9_4em"></div>
                        <div id="sc_form_3" class="sc_form sc_form_detailed simple sc_align_default">
                            <div class="trx_addons_columns_wrap">
                                <div class="trx_addons_column-1_2">
                                    <div class="sc_form_info">
                                        <h2 class="sc_item_title sc_form_title sc_align_default sc_item_title_style_default">
                                            BIZIMLƏ ƏLAQƏ</h2>
                                        <div class="sc_form_info_item sc_form_info_item_address">
                                            <span class="sc_form_info_icon"></span>
                                            <span class="sc_form_info_area">
                                                <span class="sc_form_info_title">ÜNVAN</span>
                                                <span class="sc_form_info_data">
                                                    <span>{{ contact_info.address }}</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="sc_form_info_item sc_form_info_item_phone">
                                            <span class="sc_form_info_icon"></span>
                                            <span class="sc_form_info_area">
                                                <span class="sc_form_info_title">TELEFON</span>
                                                <span class="sc_form_info_data">
                                                    <span>{{ contact_info.phone }}</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="sc_form_info_item sc_form_info_item_email">
                                            <span class="sc_form_info_icon"></span>
                                            <span class="sc_form_info_area">
                                                <span class="sc_form_info_title">Elektron poçt ünvanı</span>
                                                <span class="sc_form_info_data">
                                                    <a href="mailto:example@yoursite.com">{{ contact_info.email }}</a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div><div
                                    class="trx_addons_column-1_2">
                                    <form class="sc_form_form" method="post" action="/contact/">
                                        <h2 class="sc_item_title sc_form_title sc_align_default sc_item_title_style_default">
                                            BİZƏ YAZIN</h2>
                                        <label class="sc_form_field sc_form_field_name required">
                                            <span class="sc_form_field_wrap">
                                                <input type="text" id="name" value=""
                                                       aria-required="true" placeholder="Ad">
                                            </span>
                                        </label>
                                        <label class="sc_form_field sc_form_field_email required">
                                            <span class="sc_form_field_wrap">
                                                <input type="text" name="email" id="email" value=""
                                                       aria-required="true" placeholder="Email">
                                            </span>
                                        </label>
                                        <label class="sc_form_field sc_form_field_message required">
                                            <span class="sc_form_field_wrap">
                                                <textarea name="message" id="message"
                                                          aria-required="true"
                                                          placeholder="Müraciət"></textarea>
                                            </span>
                                        </label>
                                        <div class="sc_form_field sc_form_field_button">
                                            <input class="sc_button_dark" type="submit" value="GÖNDƏR"/>
                                        </div>
                                        <div class="trx_addons_message_box sc_form_result"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="empty_space height_9_4em"></div>
                    </div>
                </div>
                <!-- /Our Contacts -->
                <!-- Google Map -->
{#                <div class="sc_layouts_column_icons_position_left">#}
{#                    <div id="sc_googlemap_3_wrap" class="sc_googlemap_wrap">#}
{#                        <div id="sc_googlemap_3" class="sc_googlemap sc_googlemap_default width_100_per height_515"#}
{#                             data-zoom="16" data-style="default">#}
{#                            <div id="sc_googlemap_3_1" class="sc_googlemap_marker" data-latlng=""#}
{#                                 data-address="350 5th Avenue, New York, NY 10001" data-description="" data-title=""#}
{#                                 data-icon="http://placehold.it/150x150.jpg"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!-- /Google Map -->
            </div>
        </article>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-migrate.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/_main.js" %}"></script>

    <script type="text/javascript" src="{% static "js/vendor/swiper/swiper.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/magnific/jquery.magnific-popup.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/trx_addons.js" %}"></script>
    <script type="text/javascript" src="{% static "js/superfish.js" %}"></script>

    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js'></script>
{% endblock %}
