{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DPI - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "images/dpi_logo.png" %}">
    {% block links %}
        {% include "_partials/links.html" %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{#{% include "_partials/loader.html" %}#}

<!-- Body wrap -->
<div class="body_wrap">
    <!-- Page wrap -->
    <div class="page_wrap">

        {% block header %}
            <!-- Header -->{% include "_partials/header.html" %}
            <!-- /Header -->
        {% endblock %}

        <!-- Menu mobile -->{% include "_partials/mobile_menu.html" %}
        <!-- /Menu mobile -->
        <!-- Page content wrap -->
        <div class="page_content_wrap scheme_default">
            <!-- Content -->{% block content %}{% endblock %}
            <!-- /Content -->
        </div>
        <!-- /Page content wrap -->
    </div>
</div>

{% block footer %}
    <!-- Footer -->
    {% include "_partials/footer.html" %}
    <!-- /Footer -->
{% endblock %}

{% block scripts %}
    <!-- Scripts -->
    {% include "_partials/scripts.html" %}
    <!-- Scripts -->
{% endblock %}

<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>

</body>
</html>