{% extends "base.html" %}{% load static %}

{% block title %}{{ project.title }}{% endblock %}
{% block body_class %}single single-format-standard custom-background scheme_default blog_mode_post body_style_wide sidebar_show sidebar_right header_style_header-custom-18 header_position_default menu_style_top no_layout{% endblock %}

{% block header %}
    {% include "_partials/header.html" with breadcrumps=breadcrumps title=project.title %}
{% endblock %}
{% block content %}
    <div class="content_wrap">
        <!-- Content -->
        <div class="content">
            <article class="post_item_single">
                <div class="widget_area sc_widget_slider">
                    <aside class="widget widget_slider">
                        <div class="slider_wrap slider_engine_swiper">
                            <div class="slider_swiper_outer slider_style_default slider_outer_controls slider_outer_controls_side slider_outer_nopagination slider_outer_titles_center slider_outer_one">
                                <div class="slider_swiper swiper-slider-container slider_controls slider_controls_side slider_nopagination slider_titles_center slider_one slider_resize slider_height_fixed slider_type_bg"
                                     data-ratio="16:9" data-interval="7000" data-effect="slide"
                                     data-pagination="bullets" data-slides-per-view="1" data-slides-space="0"
                                     style="height:321px;">
                                    <div class="swiper-wrapper">
                                        {% for project_image in project.images.all %}
                                            <div class="swiper-slide"
                                                 style="background-image: url({{ project_image.image.url }})"
                                                 data-image="{{ project_image.image.url }}"></div>{% endfor %}
                                    </div>
                                    <div class="slider_controls_wrap">
                                        <a class="slider_prev swiper-button-prev" href="#"></a> <a
                                            class="slider_next swiper-button-next" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Post Content -->
                <div class="post_content margin_bottom_60">
                    <div class="post_header">
                        <div class="post_meta">
                            <span class="post_meta_item post_categories">
                                <a href="{{ project.get_absolute_url }}">{{ project.category.title }}</a>
                            </span> <span class="post_meta_item post_date">
                                <a>{{ project.created_at }}</a>
                            </span>
                        </div>
                    </div>
                    <p>{{ project.content }}</p>
                    <div class="post_meta post_meta_single">
                        {#                    <span class="post_meta_item post_tags">#}
                        {#                        <span class="post_meta_label">Tags:</span>#}
                        {#                        <a href="#">seo</a>,#}
                        {#                        <a href="#">team</a>#} {#                    </span>#}
                        <div class="post_meta_item post_share">
                            <div class="socials_wrap socials_share socials_size_tiny socials_type_block socials_dir_horizontal">
                                <span class="social_items">
                                    {% for social in socials %}<span class="social_item social_item_popup">
                                        <a href="{{ social.url }}" class="social_icons {{ social.color }}">
                                            <span class="trx_addons_icon-{{ social.icon }}"></span>
                                        </a>
                                    </span>{% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /Post Content -->

            </article>
        </div>
        <!-- /Content -->
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-migrate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/ui/core.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/ui/widget.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/ui/accordion.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/_main.js" %}"></script>

    <script type="text/javascript" src="{% static "js/vendor/swiper/swiper.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/magnific/jquery.magnific-popup.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/trx_addons.js" %}"></script>
    <script type="text/javascript" src="{% static "js/superfish.js" %}"></script>

    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

    <script type="text/javascript" src="{% static "js/vendor/mediaelement/mediaelement-and-player.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chart.min.js" %}"></script>

{% endblock %}